# TODO: Move unique payloads (that is used only in one endpoint) to its endpoint.

openapi: 3.0.0
info:
  title: "ProxyPay API"
  version: "1.0.0"
  x-logo:
    url: "/imgs/proxypay-docs.png"
    backgroundColor: "#FFFFFF"
    altText: "ProxyPay API - Documentação"

tags:
  - name: "Quem somos"
    description: API responsável por abstrair gateways de pagamento (adquirentes e subadquirentes) por meio de endpoints únicos.
  - name: "APIs"
    description: |-
      Trabalhamos com duas API's distintas para uso administrativo e para pagamentos.

      Para cada uma deve-se usar chaves distintas, respectivamente, **API Client Administrativo** e **API Client para pagamentos**. Ambos podem ser gerados na página administrativa da Proxypay. Também é possível gerar chaves para **API Client para pagamentos** via API no endpoint [Criação clientes de API para transações](#tag/Clientes-de-API/paths/~1api~1org~1v1~1apiclient~1/post).

      Os endereços e seus ambientes disponíveis podem ser consultados em cada endpoint.
  - name: Lista de bandeiras aceitas pela API de pagamentos
    description: |-
      | Nome       | Valor           |
      |------------|-----------------|
      | HiperCard  | `"hipercard"`   |
      | Visa       | `"visa"`        |
      | Mastercard | `"mastercard"`  |
      | Amex       | `"amex"`        |
      | Elo        | `"elo"`         |
      | Hiper      | `"hiper"`       |
  - name: Códigos de retorno para criação de transações
    description: |-
      | status | sucesso? | descrição |
      |:-------|:----|:--------|
      | **Success** | sim | Sucesso |
      | **GenericError** | não | Genérica |
      | **InsufficientFunds** | não | Saldo/limite insuficiente |
      | **InvalidPassword** | não | Senha inválida |
      | **NotAllowed** | não | Transação não permitida para o cartão |
      | **InvalidCardNumber** | não | Número cartão não pertence ao emissor | número cartão inválido |
      | **SecurityViolation** | não | Violação de segurança |
      | **SuspectedFraud** | não | Suspeita de fraude |
      | **InvalidMerchant** | não | Comerciante inválido |
      | **RetryRequired** | não | Refazer a transação (emissor solicita retentativa) |
      | **ConsultAccreditation** | não | Consultar credenciador |
      | **AcquirerProblem** | não | Problema no adquirente |
      | **CardError** | não | Erro no cartão |
      | **FormatError** | não | Erro de formato (mensageria) |
      | **InvalidTransactionValue** | não | Valor da transação inválida |
      | **InvalidInstallmentValue** | não | Valor da parcela inválida |
      | **PasswordAttemptsExceeded** | não | Excedidas tentativas de senha | compras |
      | **LostCard** | não | Cartão perdido |
      | **StolenCard** | não | Cartão roubado |
      | **ExpiredCard** | não | Cartão vencido / dt expiração inválida |
      | **TransactionNotAllowed** | não | Transação não permitida | capacidade do terminal |
      | **ValueExceeded** | não | Valor excesso | saque |
      | **InternationalTransactionWithLocalCard** | não | Cartão doméstico - transação internacional |
      | **InvalidMinValue** | não | Valor mínimo da transação inválido |
      | **ExceededWithdrawQuantity** | não | Quant. de saques excedido |
      | **ExpiredPassword** | não | Senha vencida / erro de criptografia de senha |
      | **PasswordAttemptsExceededWithdraw** | não | Excedidas tentativas de senha | saque |
      | **InvalidDestinationAccount** | não | Conta destino inválida ou inexistente |
      | **InvalidOriginAccount** | não | Conta origem inválida ou inexistente |
      | **CardStillBlocked** | não | Cartão novo sem desbloqueio |
      | **InvalidCard** | não | Cartão inválido (criptograma) |
      | **IssuerOutOfService** | não | Emissor fora do ar |
      | **SystemFailure** | não | Falha do sistema |
      | **DiffPreAuthorization** | não | Diferença - pré autorização |
      | **InvalidFunctionDebit** | não | Função incorreta (débito) |
      | **InvalidFunctionCredit** | não | Função incorreta (crédito) |
      | **ChangePassword** | não | Troca de senha / desbloqueio |
      | **NewPasswordNotAccepted** | não | Nova senha não aceita |
      | **CollectCard** | não | Recolher cartão (não há fraude) |
      | **DynamicKeyChangeError** | não | Erro por mudança de chave dinâmica |
      | **FraudConfirmed** | não | Fraude confirmada |
      | **EmitterNotFound** | não | Emissor ñ localizado - bin incorreto |
      | **NotAllowedByMoneyLaundryLaw** | não | (negativa do adquirente) não cumprimento pelas leis de ante lavagem de dinheiro |
      | **InvalidRollback** | não | Reversão inválida |
      | **NotFoundByRouter** | não | Não localizado pelo roteador |
      | **DeniedByInfractionLaw** | não | Transação negada por infração de lei |
      | **DuplicateTracingData** | não | Valor do tracing data duplicado |
      | **UnsupportedSurchage** | não | Surcharge não suportado |
      | **UnsupportedSurchageDebitNetwork** | não | Surcharge não suportado pela rede de débito |
      | **StripForce** | não | Forçar stip |
      | **WithdrawNotAvailable** | não | Saque não disponível |
      | **ServiceRecurrencySuspension** | não | Suspensão de pagamento recorrente para um serviço |
      | **AllServiceRecurrencySuspension** | não | Suspensão de pagamento recorrente para todos serviço |
      | **TransactionLotQualifiedVisaPin** | não | Transação não qualificada para visa pin |
      | **AllAuthorizationOrderSuspended** | não | Suspensão de todas as ordens de autorização |
      | **RegisterNotFoundInFile** | não | Não é possível localizar o registro no arquivo |
      | **FileNotAvailableForUpdate** | não | Arquivo não disponível para atualização |
      | **RejectedCancel** | não | Cancelamento não efetuado. transação não localizada. |
      | **ApprovedTransactionCancel** | não | Transação de cancelamento autorizada com sucesso. atençâo: esse retorno é para casos de cancelamentos e não para casos de autorizações. |
  - name: Lista de situações da transação
    description: |-
      | Status | Descrição |
      | :------- | :--------- |
      | `NotFinished` | Aguardando atualização de status |
      | `Authorized` | Pagamento apto a ser capturado ou definido como pago |
      | `PaymentConfirmed` | Pagamento confirmado e finalizado |
      | `Denied` | Pagamento negado por Autorizador |
      | `Voided` | Pagamento cancelado |
      | `Refunded` | Pagamento cancelado após 23:59 do dia de autorização |
      | `Pending` | Aguardando Status de instituição financeira |
      | `Aborted` | Pagamento cancelado por falha no processamento ou por ação do AF |
      | `Scheduled` | Recorrência agendada |
  - name: Lista de situações da transação de antifraude
    description: |-
      | Status | Descrição |
      | :------- | :--------- |
      | **UNKNOWN** | Situação não mapeada |
      | **APPROVED** | Transação aprovada no sistema antifraude |
      | **REJECTED** | Transação não aprovada no sistema antifraude |
  - name: Lista de situações de config de adquirente
    description: |-
      | Status | Descrição  |
      | :---------- | :--------- |
      | **homolog**   | Não é considerada para transações de pagamentos. Disponível apenas usando explicitamente no payload das requisições. Recomendado para validação de configurações. |
      | **inactive**  | Não será considerada para transações mesmo que explicitamente no payload. |
      | **active**    | Considerada para transações de pagamento. |

servers:
  - url: https://api-sandbox.proxypay.com.br/v1
    description: Endpoint Payment API Sandbox v1 (usa dados de teste)

x-tagGroups:
- name: Sobre
  tags:
    - Quem somos
    - APIs
- name: Endpoints pagamentos
  tags:
    - Transação
- name: Endpoints administativos
  tags:
    - Credenciamento
    - Configs p/ adquirentes
    - Clientes de API
- name: Ref. da API
  tags:
    - Códigos de retorno para criação de transações
    - Lista de bandeiras aceitas pela API de pagamentos
    - Lista de situações da transação
    - Lista de situações da transação de antifraude
    - Lista de situações de config de adquirente

paths:
  /transaction:
    post:
      security:
        - API Client para pagamentos: []
      tags:
        - Transação
      summary: "Criação"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionCreation"
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionCreationResult"
        400:
          description: "Erro de validação"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
  /transaction/{gatewayCode}/{transactionId}:
    get:
      security:
        - API Client para pagamentos: []
      tags:
        - Transação
      summary: "Consulta"
      parameters:
        - in: path
          name: "gatewayCode"
          schema:
            type: "string"
          required: true
          description: "Código do gateway onde a transação foi criada"
          example: "cielo"
        - in: path
          name: "transactionId"
          schema:
            type: "string"
          required: true
          description: "Id da transação gerada pelo gateway na criação"
          example: "13adc203-bb0a-4f5f-932e-3e6350e18504"
      responses:
        200:
          description: "Transação"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        404:
          description: "Transação não encontrada"
    put:
      security:
        - API Client para pagamentos: []
      tags:
        - Transação
      summary: "Captura"
      description: "Captura uma transação previamente autorizada"
      parameters:
        - in: path
          name: "gatewayCode"
          schema:
            type: "string"
          required: true
          description: "Código do gateway onde a transação foi criada"
          example: "cielo"
        - in: path
          name: "transactionId"
          schema:
            type: "string"
          required: true
          description: "Id da transação gerada pelo gateway na criação"
          example: "13adc203-bb0a-4f5f-932e-3e6350e18504"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionCapture"
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionCaptureResult"
        404:
          description: "Transação não encontrada"

  /transaction/{gatewayCode}/{transactionId}/refunds:
    post:
      security:
        - API Client para pagamentos: []
      tags:
        - Transação
      summary: "Cancelamento"
      parameters:
        - in: path
          name: "gatewayCode"
          schema:
            type: "string"
          required: true
          description: "Código do gateway onde a transação foi criada"
          example: "cielo"
        - in: path
          name: "transactionId"
          schema:
            type: "string"
          required: true
          description: "Id da transação gerada pelo gateway na criação"
          example: "13adc203-bb0a-4f5f-932e-3e6350e18504"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionRefund"
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRefundResult"
        404:
          description: "Transação não encontrada"

  /api/org/v1/company/:
    servers:
      - url: https://adm-sandbox.proxypay.com.br/
        description: Endpoint Administrativo V1
    post:
      security:
        - API Client Administrativo: []
      tags:
        - Credenciamento
      summary: "Criação de empresa"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyCreation"
      responses:
        201:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyCreationResponse"
        400:
          description: "Bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdmValidationError"

  /api/gateways/v1/rede/:
    servers:
      - url: https://adm-sandbox.proxypay.com.br/
        description: Endpoint Administrativo V1
    post:
      security:
        - API Client Administrativo: []
      tags:
        - Configs p/ adquirentes
      summary: "Criação de config. Rede"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "token"
                - "company"
              properties:
                description:
                  type: "string"
                  description: "Descrição. **Comprimento <= 200**"
                  example: "Token para Rede"
                token:
                  type: "string"
                  description: "Token de autenticação em base64. **Comprimento <= 200**"
                  example: "Zm9vb29vb286YmFhYWFhYXJy"
                company:
                  type: "integer"
                  description: "Id da empresa."
                  example: 123
      responses:
        201:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayRedeCreationResponse"
        400:
          description: "Bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdmValidationError"
    patch:
      security:
        - API Client Administrativo: []
      tags:
        - Configs p/ adquirentes
      summary: "Atualização de config. Rede"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                description:
                  type: "string"
                  description: "Descrição. **Comprimento <= 200**"
                  example: "Token para Rede"
                status:
                  type: "string"
                  description: "Status da configuração. Veja a lista completa [aqui](#tag/Lista-de-situacoes-de-config-de-adquirente)"
                  example: "homolog"
                token:
                  type: "string"
                  description: "Token de autenticação em base64. **Comprimento <= 200**"
                  example: "Zm9vb29vb286YmFhYWFhYXJy"
                company:
                  type: "integer"
                  description: "Id da empresa."
                  example: 123
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayRedeCreationResponse"
        400:
          description: "Bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdmValidationError"

  /api/gateways/v1/cielo/:
    servers:
      - url: https://adm-sandbox.proxypay.com.br/
        description: Endpoint Administrativo V1
    post:
      security:
        - API Client Administrativo: []
      tags:
        - Configs p/ adquirentes
      summary: "Criação de config. Cielo"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "merchantId"
                - "merchantKey"
                - "company"
              properties:
                description:
                  type: "string"
                  description: "Descrição. **Comprimento <= 200**"
                  example: "Token para Cielo"
                merchantId:
                  type: "string"
                  description: "Id do cliente na Cielo. **Comprimento <= 200**"
                  example: "632c4a39-b713-47a5-969d-32a04e105b48"
                merchantKey:
                  type: "string"
                  description: "Chave do cliente na Cielo. **Comprimento <= 200**"
                  example: "EYDQRYCMVZBZPZJFGHAKSHKEJKJWHYVGJABBYLME"
                company:
                  type: "integer"
                  description: "Id da empresa."
                  example: 123
      responses:
        201:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayCieloCreationResponse"
        400:
          description: "Bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdmValidationError"
    patch:
      security:
        - API Client Administrativo: []
      tags:
        - Configs p/ adquirentes
      summary: "Atualização de config. Cielo"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                description:
                  type: "string"
                  description: "Descrição. **Comprimento <= 200**"
                  example: "Token para Cielo"
                status:
                  type: "string"
                  description: "Status da configuração. Veja a lista completa [aqui](#tag/Lista-de-situacoes-de-config-de-adquirente)"
                  example: "homolog"
                merchantId:
                  type: "string"
                  description: "Id do cliente na Cielo. **Comprimento <= 200**"
                  example: "632c4a39-b713-47a5-969d-32a04e105b48"
                merchantKey:
                  type: "string"
                  description: "Chave do cliente na Cielo. **Comprimento <= 200**"
                  example: "EYDQRYCMVZBZPZJFGHAKSHKEJKJWHYVGJABBYLME"
                company:
                  type: "integer"
                  description: "Id da empresa."
                  example: 123
      responses:
        200:
          description: "Sucesso"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayCieloCreationResponse"
        400:
          description: "Bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdmValidationError"

  /api/org/v1/apiclient/:
    servers:
      - url: https://adm-sandbox.proxypay.com.br/
        description: Endpoint Administrativo V1
    post:
      security:
        - API Client Administrativo: []
      tags:
        - Clientes de API
      summary: "Criação clientes de API para transações"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "company"
              properties:
                description:
                  type: "string"
                  description: "Descrição. **Comprimento <= 30**"
                  example: "Para uso pela aplicacao X"
                company:
                  type: "integer"
                  description: "Id da empresa."
                  example: 123
      responses:
        201:
          description: "Sucesso"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  id:
                    type: "integer"
                    description: "Id"
                    example: 99
                  description:
                    type: "string"
                    description: "Descrição"
                  company:
                    type: "integer"
                    description: "Id da empresa."
                    example: "123"
                  clientId:
                    type: "string"
                    description: "API Client ID"
                    example: "cks4opqht0000t7cl35t8lse0"
                  clientSecret:
                    type: "string"
                    description: "Chave API Client (exibido apenas uma vez)"
                    example: "97c639c0-027b-49c6-9ea4-aadaa5364e96"
        400:
          description: "Bad request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdmValidationError"

components:
  securitySchemes:
    API Client para pagamentos:
      type: http
      scheme: basic
      description: >
        Para transacionar em nossa API é necessário gerar um **Cliente de API** (`clientId` e `clientSecret`) e usá-los via HTTP Basic Auth. Exemplo:

        Usando `my-client-id` como `clientId` e `my-client-secret` como `clientSecret`:

        Junte ambos com `:` e codifique em base64, no exemplo, o resultado é `bXktY2xpZW50LWlkOm15LWNsaWVudC1zZWNyZXQ=`. Então, seu header `Authorization` será:

        `Authorization: Basic bXktY2xpZW50LWlkOm15LWNsaWVudC1zZWNyZXQ=`.
    API Client Administrativo:
      type: http
      scheme: basic
      description: >
        Para efetuar operações administrativas via API (cadastro de novas configs para adquirentes, por exemplo) é necessário gerar um **Cliente de API Administrativo** usar HTTP Basic Auth com um `clientId` e `clientSecret`. Exemplo:

        Usando `my-client-id` como `clientId` e `my-client-secret` como `clientSecret`:

        Junte ambos com `:` e codifique em base64, no exemplo, o resultado é `bXktY2xpZW50LWlkOm15LWNsaWVudC1zZWNyZXQ=`. Então, seu header `Authorization` será:

        `Authorization: Basic bXktY2xpZW50LWlkOm15LWNsaWVudC1zZWNyZXQ=`.

  schemas:
    TransactionCreation:
      type: "object"
      required:
      - "reference"
      - "amount"
      - "cardNumber"
      - "expirationMonth"
      - "expirationYear"
      properties:
        capture:
          type: "boolean"
          description: "Flag para capturar a quantia enviada (`true`) ou apenas autorizar (`false`): **Default:** `false`"
          example: true
        reference:
          type: "string"
          description: "Usado para identificar a transacão (ex. num. do pedido no sistema do comerciante). **Comprimento <= 16**"
          example: "my-unique-order-number-1234"
        amount:
          type: "integer"
          description: "Valor da transação em centavos. Ex.: R$ 0,50 => `50` ou R$ 1000,50 => `100050`). **Valor >= 1**"
          example: 100050
        installments:
          type: "integer"
          description: "Número de parcelas. **Valor >= 1 e <= 255. Default:** `1`"
          example: 12
        cardNumber:
          type: "string"
          description: "Número do cartão, apenas números. Ex: para o número *5555.5555.5555.4444* será enviado `5555555555554444`"
          example: "5555555555554444"
        expirationMonth:
          type: "integer"
          description: "Mês de expiração do cartão, apenas números. Valores entre `1` e `12`"
          example: 11
        expirationYear:
          type: "integer"
          description: "Ano de expiração do cartão, apenas números. Formato *9999*, Ex: `2028`"
          example: 2028
        cardHolderName:
          type: "string"
          description: "Nome impresso no cartão, Ex: `JOAO DA SILVA`. **Comprimento <= 25**"
          example: "JOHN DOE"
        securityCode:
          type: "string"
          description: "Codigo de segurança (CVV), formato *999*, E.g.: `123`"
          example: "123"
        softDescriptor:
          type: "string"
          description: "Usado para identificar a transacão na fatura do cliente. **Comprimento <= 13**"
          example: "MENSALIDADE"
        cardBrand:
          type: "string"
          description: "Nome da bandeira do cartao (veja a lista completa [aqui](#tag/Lista-de-bandeiras-aceitas-pela-API-de-pagamentos)). **Opcional, Comprimento <= 30**"
          example: "mastercard"
        currency:
          type: "string"
          description: "Código ISO 4217 da moeda"
          example: "BRL"
        customer:
          type: "object"
          description: "Informações do cliente"
          properties:
            id:
              type: "string"
              description: "Id do cliente"
              example: "123"
            name:
              type: "string"
              description: "Nome do cliente"
              example: "José Alencar"
            email:
              type: "string"
              description: "E-mail do cliente"
              example: "jose@alencar.com"
            type:
              type: "string"
              description: "Tipo do cliente (\"NATURAL_PERSON\" para pessoa física e \"LEGAL_ENTITY\" para pessoa jurídica)"
              enum:
                - NATURAL_PERSON
                - LEGAL_ENTITY
              example: "NATURAL_PERSON"
            primaryPhone:
              type: "string"
              description: "Telefone principal do cliente"
              example: "11912345678"
            secondaryPhone:
              type: "string"
              description: "Telefone secundário do cliente"
              example: "1112345678"
        billing:
          type: "object"
          description: "Informações de cobrança"
          properties:
            name:
              type: "string"
              description: "Nome utilizado para cobrança"
              example: "João Souza"
            document:
              type: "string"
              description: "Documento utilizado para cobrança"
              example: "12345678900"
            address:
              $ref: "#/components/schemas/Address"
              description: "Endereço utilizado para cobrança"
        shipping:
          type: "object"
          description: "Informações de entrega"
          properties:
            name:
              type: "string"
              description: "Nome utilizado para entrega"
              example: "João Souza"
            document:
              type: "string"
              description: "Documento utilizado para entrega"
              example: "12345678900"
            address:
              $ref: "#/components/schemas/Address"
              description: "Endereço utilizado para entrega"
        items:
          type: "array"
          description: "Itens da compra relacionada à transação"
          $ref: "#/components/schemas/TransactionCreationItem"
        gateway:
          type: "object"
          description: "Gateway desejado. Utilizado para forçar o uso de um gateway específico. É possível utilizar gateways com o status *homologação*."
          properties:
            id:
              type: "integer"
              description: "Id do gateway"
              example: "99"
            code:
              type: "string"
              description: "Código do gateway (`cielo`, `rede`...)"
              example: "cielo"
        antifraud:
          type: "object"
          description: "Antifraude desejado. Utilizado para forçar o uso de um antifraude específico. É possível utilizar antifraudes com o status *homologação*."
          properties:
            id:
              type: "integer"
              description: "Id do antifraude"
              example: "99"
            code:
              type: "string"
              description: "Código do antifraude"
              example: "clearsale"
    TransactionCreationItem:
      type: "object"
      properties:
        code:
          type: "string"
          description: "Código único do item"
          example: "92821982"
        barCode:
          type: "string"
          description: "Código de barras item"
          example: "1128731289738219"
        name:
          type: "string"
          description: "Nome item"
          example: "Boné Preto"
        unitCost:
          type: "integer"
          description: "Valor do item em centavos. Ex.: R$ 0,50 => `50` ou R$ 1000,50 => `100050`). **Valor >= 1**"
          example: 2999
        quantity:
          type: "integer"
          description: "Quantidade de unidades do item"
          example: 2
    TransactionCreationResult:
      type: "object"
      properties:
        success:
          type: "boolean"
          description: "Transação feita com sucesso (`true`) ou não (`false`)"
          example: true
        status:
          type: "string"
          description: "Status da criação da transação. Veja a lista completa [aqui](#tag/Codigos-de-retorno-para-criacao-de-transacoes)"
          enum:
            - Success
            - GenericError
            - InsufficientFunds
            - InvalidPassword
          example: Success
        gatewayCode:
          type: "string"
          description: "Código do gateway usado na transação"
          example: "cielo"
        gatewayReturnCode:
          type: "string"
          description: "Código retornado pelo gateway sem tratamento"
          example: "00"
        gatewayReturnMessage:
          type: "string"
          description: "Mensagem retornada pelo gateway sem tratamento"
          example: "Operation Successful"
        gatewayCardBrand:
          type: "string"
          description: "Bandeira do cartão retornada pelo gateway"
          example: "visa"
        reference:
          type: "string"
          description: "Usado para identificar a transacão (ex. num do pedido no sistema do comerciante)"
          example: "my-unique-order-number-1234"
        transactionId:
          type: "string"
          description: "Identificador da transação. Neste caso, um UUID, porém **esse valor é gerado pelo Gateway**, portanto considere qualquer string para identificação pois cada gateway utiliza um tipo de ID diferente."
          example: "13adc203-bb0a-4f5f-932e-3e6350e18504"
        authCode:
          type: "string"
          description: "Código de autorização retornado pelo emissor"
          example: "760946"
        links:
          type: "array"
          items:
            $ref: "#/components/schemas/Link"
        antifraudResult:
          description: "Se habilitado, resultado do processamento do sistema antifraude"
          $ref: "#/components/schemas/TransactionCreationAntifraudResult"
    TransactionCreationAntifraudResult:
      type: "object"
      properties:
        success:
          type: "boolean"
          description: "Transação antifraude feita com sucesso (`true`) ou não (`false`)"
          example: true
        status:
          type: "string"
          description: "Status da criação da transação de antifraude. Veja a lista completa [aqui](#tag/Lista-de-situacoes-da-transacao-de-antifraude)"
          enum:
            - UNKNOWN
            - APPROVED
            - REJECTED
          example: APPROVED
        antifraudCode:
          type: "string"
          description: "Código do sistema antifraude usado na transação"
          example: "clearsale"
        antifraudReturnCode:
          type: "string"
          description: "Código retornado pelo sistema antifraude sem tratamento"
          example: "APA"
        antifraudReturnMessage:
          type: "string"
          description: "Mensagem retornada pelo sistema antifraude sem tratamento"
          example: "Order created"
    Transaction:
      type: "object"
      properties:
        id:
          type: "string"
          description: "Identificador da transação. Neste caso, um UUID, porém **esse valor é gerado pelo Gateway**, portanto considere qualquer string para identificação pois cada gateway utiliza um tipo de ID diferente."
          example: "13adc203-bb0a-4f5f-932e-3e6350e18504"
        success:
          type: "boolean"
          description: "Transação feita com sucesso (`true`) ou não (`false`)"
          example: true
        status:
          type: "string"
          description: "Situação da transação. Veja a descrição completa [aqui](#tag/Lista-de-situacoes-da-transacao)"
          enum:
            - "NotFinished"
            - "Authorized"
            - "PaymentConfirmed"
            - "Denied"
            - "Voided"
            - "Refunded"
            - "Pending"
            - "Aborted"
            - "Scheduled"
          example: "Authorized"
        reference:
          type: "string"
          description: "Usado para identificar a transacão (ex. num do pedido no sistema do comerciante)"
          example: "my-unique-order-number-1234"
        amount:
          type: "integer"
          description: "Valor da transação em centavos. Ex.: R$ 0,50 => `50` ou R$ 1000,50 => `100050`)."
          example: 100050
        installments:
          type: "integer"
          description: "Número de parcelas"
          example: 12
        currency:
          type: "string"
          description: "Código da moeda"
          example: "BRL"
        cardBin:
          type: "string"
          description: "Bin do cartão (primeiros 6 dígitos)"
          example: "555555"
        cardLastDigits:
          type: "string"
          description: "Últimos 4 dígitos do cartão"
          example: "4444"
        expirationMonth:
          type: "integer"
          description: "Mês de expiração do cartão"
          example: 11
        expirationYear:
          type: "integer"
          description: "Ano de expiraçao do cartão"
          example: 2028
        cardHolderName:
          type: "string"
          description: "Nome impresso no cartão, E.g.: `JOAO DA SILVA`. **Comprimento <= 25**"
          example: "JOHN DOE"
        softDescriptor:
          type: "string"
          description: "Usado para identificar a transacão na fatura do cliente. **Comprimento <= 13**"
          example: "MENSALIDADE"
        authCode:
          type: "string"
          description: "Código de autorização retornado pelo emissor"
          example: "760946"
        capture:
          $ref: "#/components/schemas/Refund"
        refund:
          $ref: "#/components/schemas/Refund"
        links:
          type: "array"
          items:
            $ref: "#/components/schemas/Link"
    Capture:
      type: "object"
      description: "Caso a transação tenha sido capturada esses valores virão preenchidos"
      properties:
        dateTime:
          type: "string"
          description: "Data e hora da captura em formato ISO"
          example: "2021-04-17T15:51:18-03:00"
        amount:
          type: "integer"
          description: "Valor da captura em centavos. Ex.: R$ 0,50 => `50` ou R$ 1000,50 => `100050`)."
          example: 2000
    Refund:
      type: "object"
      description: "Caso a transação tenha sido cancelada esses valores virão preenchidos"
      properties:
        dateTime:
          type: "string"
          description: "Data e hora do cancelamento em formato ISO"
          example: "2021-04-18T15:51:18-03:00"
        amount:
          type: "integer"
          description: "Valor do cancelamento em centavos. Ex.: R$ 0,50 => `50` ou R$ 1000,50 => `100050`)."
          example: 2000
    Link:
      type: "object"
      properties:
        method:
          type: "string"
          description: "Método HTTP"
          example: "PUT"
        rel:
          type: "string"
          description: "Relação do endpoint com a transação"
          example: "capture"
        url:
          type: "string"
          description: "Path para a operação"
          example: "/v1/transaction/cielo/13adc203-bb0a-4f5f-932e-3e6350e18504"
    Address:
      type: "object"
      properties:
        street:
          type: "string"
          description: "Rua do endereço"
          example: "Rua X"
        number:
          type: "string"
          description: "Número do endereço"
          example: "911"
        complement:
          type: "string"
          description: "Complemento do endereço"
          example: "Ap 91"
        neighborhood:
          type: "string"
          description: "Bairro do endereço"
          example: "Vila Clementino"
        city:
          type: "string"
          description: "Cidade do endereço"
          example: "São Paulo"
        state:
          type: "string"
          description: "Estado do endereço"
          example: "SP"
        zipcode:
          type: "string"
          description: "Código postal do endereço"
          example: "01122000"
        country:
          type: "string"
          description: "Páis do endereço (ISO 3166-2)"
          example: "BR"
    TransactionCapture:
      type: "object"
      description: "Capturar a transação"
      properties:
        amount:
          type: "integer"
          description: "Valor da captura em centavos. Ex.: R$ 0,50 => `50` ou R$ 1000,50 => `100050`)."
          example: 2000
    TransactionCaptureResult:
      type: "object"
      properties:
        success:
          type: "boolean"
          description: "Transação capturada com sucesso (`true`) ou não (`false`)"
          example: true
        gatewayCode:
          type: "string"
          description: "Código do gateway usado nessa transação"
          example: "cielo"
        gatewayReturnCode:
          type: "string"
          description: "Código retornado pelo gateway sem tratamento"
          example: "00"
        gatewayReturnMessage:
          type: "string"
          description: "Mensagem retornada pelo gateway sem tratamento"
          example: "Operation Successful"
        authCode:
          type: "string"
          description: "Código de autorização retornado pelo emissor"
          example: "760946"
        links:
          type: "array"
          items:
            $ref: "#/components/schemas/Link"
    TransactionRefund:
      type: "object"
      description: "Cancelamento de transação"
      properties:
        amount:
          type: "integer"
          description: "Valor do cancelamento em centavos. Ex.: R$ 0,50 => `50` ou R$ 1000,50 => `100050`)."
          example: 2000
    TransactionRefundResult:
      type: "object"
      properties:
        success:
          type: "boolean"
          description: "Transação capturada com sucesso (`true`) ou não (`false`)"
          example: true
        gatewayCode:
          type: "string"
          description: "Código do gateway usado nessa transação"
          example: "cielo"
        gatewayReturnCode:
          type: "string"
          description: "Código retornado pelo gateway sem tratamento"
          example: "00"
        gatewayReturnMessage:
          type: "string"
          description: "Mensagem retornada pelo gateway sem tratamento"
          example: "Operation Successful"
        links:
          type: "array"
          items:
            $ref: "#/components/schemas/Link"
    ValidationError:
      type: "object"
      properties:
        "[nome do campo]":
          type: "string"
          description: "Mensagem de erro"
          example: "must be no less than 1"
    AdmValidationError:
      type: "object"
      properties:
        "[nome do campo]":
          type: "string"
          description: "Mensagem de erro"
          example: "Valor precisa ser maior que 1"
    CompanyCreation:
      type: "object"
      required:
        - "name"
        - "legalName"
        - "documentNumber"
        - "openedAt"
      properties:
        name:
          type: "string"
          description: "Nome fantasia. **Comprimento <= 50**"
          example: "Foo INC"
        legalName:
          type: "string"
          description: "Razão social. **Comprimento <= 100**"
          example: "My legal name FOO inc LTDA"
        documentNumber:
          type: "string"
          description: "CNPJ. **Apenas números**"
          example: "09203677000100"
        openedAt:
          type: "string"
          description: "Data de abertura da empresa. Formato ISO `YYYY-MM-DD`."
          example: "2020-03-29"
        workingHours:
          type: "string"
          description: "Horário de funcionamento"
          example: "Seg/Sex das 8h as 18h e Sab das 8h as 13h"
        address:
          type: "string"
          description: "Endereço completo"
          example: "Av. Avenida Augusto Maynard, 1990 - São José - Aracaju/SE - CEP 49015-380"
        automaticAntecipation:
          type: "boolean"
          description: "Antecipação automática. Default: `false`"
        partners:
          type: "array"
          description: "Sócios. **Obrigatório ao menos 1 sócio**"
          items:
            oneOf:
              - $ref: "#/components/schemas/CompanyPartner"
        ecommerceContacts:
          type: "array"
          description: "Contatos e-commerce"
          items:
            $ref: "#/components/schemas/CompanyEcommerceContact"
        businessContacts:
          type: "array"
          description: "Contatos comerciais"
          items:
            $ref: "#/components/schemas/CompanyBusinessContact"

    CompanyCreationResponse:
      type: "object"
      properties:
        id:
          type: "integer"
          description: "Id"
          example: 99
        name:
          type: "string"
          description: "Nome fantasia"
          example: "Foo INC"
        legalName:
          type: "string"
          description: "Razão social"
          example: "My legal name FOO inc LTDA"
        documentNumber:
          type: "string"
          description: "CNPJ"
          example: "09203677000100"
        openedAt:
          type: "string"
          description: "Data de abertura da empresa. Formato ISO `YYYY-MM-DD`."
          example: "2020-03-29"
        workingHours:
          type: "string"
          description: "Horário de funcionamento"
          example: "Seg/Sex das 8h as 18h e Sab das 8h as 13h"
        address:
          type: "string"
          description: "Endereço completo"
          example: "Av. Avenida Augusto Maynard, 1990 - São José - Aracaju/SE - CEP 49015-380"
        automaticAntecipation:
          type: "boolean"
          description: "Antecipação automática"
        partners:
          type: "array"
          description: "Sócios"
          items:
            $ref: "#/components/schemas/CompanyPartner"
        ecommerceContacts:
          type: "array"
          description: "Contatos e-commerce"
          items:
            $ref: "#/components/schemas/CompanyEcommerceContact"
        businessContacts:
          type: "array"
          description: "Contatos comerciais"
          items:
            $ref: "#/components/schemas/CompanyBusinessContact"

    CompanyPartner:
        type: "object"
        description: "Sócio"
        required:
          - "fullName"
          - "partnerType"
          - "documentNumber"
        properties:
          fullName:
            type: "string"
            description: "Nome do sócio / razao social"
            example: "Joao da Silva"
          partnerType:
            type: "string"
            description: "Tipo de pessoa: Física / Jurídica"
            enum:
              - person
              - company
            example: "person"
          documentNumber:
            type: "string"
            description: "Num. do documento CPF/CNPJ. **Apenas números**"
            example: "36730757051"

    CompanyEcommerceContact:
      type: "object"
      description: "Contato e-commerce"
      required:
        - "fullName"
        - "phoneNumber"
        - "email"
        - "siteUrl"
      properties:
        fullName:
          type: "string"
          description: "Nome completo"
          example: "Joao da Silva"
        phoneNumber:
          type: "string"
          description: "Num. de telefone. **Apenas números**"
          example: "11966668888"
        email:
          type: "string"
          description: "E-mail"
          example: "foo@bar.com.br"
        siteUrl:
          type: "string"
          description: "URL do site"
          example: "https://www.foo.com.br/"

    CompanyBusinessContact:
      type: "object"
      description: "Contato comercial"
      required:
        - "fullName"
        - "phoneNumber"
        - "email"
      properties:
        fullName:
          type: "string"
          description: "Nome completo"
          example: "Joao da Silva"
        phoneNumber:
          type: "string"
          description: "Num. de telefone. **Apenas números**"
          example: "11966668888"
        email:
          type: "string"
          description: "E-mail"
          example: "foo@bar.com.br"

    GatewayRedeCreationResponse:
      type: "object"
      properties:
        id:
          type: "integer"
          description: "Id"
          example: 99
        status:
          type: "string"
          description: "Status da configuração. Veja a lista completa [aqui](#tag/Lista-de-situacoes-de-config-de-adquirente)"
          example: "homolog"
        description:
          type: "string"
          description: "Descrição"
          example: "Token para Rede"
        token:
          type: "string"
          description: "Token de autenticação em base64"
          example: "Zm9vb29vb286YmFhYWFhYXJy"
        company:
          type: "integer"
          description: "Id da empresa."
          example: "123"

    GatewayCieloCreationResponse:
      type: "object"
      properties:
        id:
          type: "integer"
          description: "Id"
          example: 99
        status:
          type: "string"
          description: "Status da configuração. Veja a lista completa [aqui](#tag/Lista-de-situacoes-de-config-de-adquirente)"
          example: "homolog"
        description:
          type: "string"
          description: "Descrição"
          example: "Token para Cielo"
        merchantId:
          type: "string"
          description: "Id do cliente na Cielo."
          example: "632c4a39-b713-47a5-969d-32a04e105b48"
        merchantKey:
          type: "string"
          description: "Chave do cliente na Cielo."
          example: "EYDQRYCMVZBZPZJFGHAKSHKEJKJWHYVGJABBYLME"
        company:
          type: "integer"
          description: "Id da empresa."
          example: "123"
